*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: aliceblue;
}

/* CLASSI RIUTILIZZABILI */

.container{
  width: 100%;
  padding: 0% 15%;
  
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70{
  width: 70%;
}

.col-2 {
  float: left;
  width: 50%;
}

.col-3 {
  float: left;
  width: 33.333%;
  padding: 0 2%;
}

.di{  /* classe per display inline block */
  display: inline-block;
}

/* Liste inline block */

#list-item1{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid black;
  display: inline;
}

.nav-left ul li i{
  color: #1a3a5c;
}

.tdn{ 
  text-decoration: none;
}
.a-blue{
  color: #1a3a5c;
}


/* nav*/
.nav-header{
  min-width: 1200px;
  background-color: aliceblue;
  position: fixed;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid black;
  font-size: 1.1em;
  font-weight: 600;
  z-index: 999;
}

.nav-left{
  line-height: 130px;
}
.nav-left ul li{
  list-style: none;
}

.nav-right{
  line-height: 130px;
  text-align: right;
}

.nav-right ul li{
  list-style: none;
}
.nav-right ul li a{
  margin-left: 30px;
}

/* buttons */

.btn{
  padding: 13px;
  border-radius: 5px;
}
.btn-large{
  padding: 20px;
  border-radius: 5px;
}
.btn-log{
  color: tomato;
  border: 2px solid tomato;
}

.btn-get{
  color: white;
  background-color: tomato;
}

/* Seconda barra di navigazione */

.nav-2{
  background-color: white;
  line-height: 130px;
  padding: 0 15%;
  height: 130px;
  min-width: 1600px;
  margin: auto;
}

.col-2-left{
  width: 50%;
  
}

.col-2-right ul li{
  display: inline-block;
  list-style: none;
}
.col-2-right ul li a{
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #1a3a5c;
  font-weight: 600;
}

.col-2-right{
  width: 50%;
  text-align: right;
}

.col-2-left img{
  width: 30%;
  vertical-align: middle;
}

/* header */
header{
  min-width: 1200px;
  padding-top: 130px;
  height: 100vh;
  background-image: url(../img/jumbotron.png);
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron{
  position: relative;
  height: 470px;
  
}

.jumbotron-text{
  position: absolute;
  top: 70%;
  transform: translatey(-50%);
  width: 800px;
  height: 470px;
}

.jumbotron-text h1{
  color: #1a3a5c;
  font-size: 400%;
  margin-bottom: 30px;
  font-weight: 800;
}
.jumbotron-text p{
  color: #1a3a5c;
  font-size: 120%;
  line-height: 35px;
  font-weight: 600;
}

.jumbotron-text a{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

/* Green Line */

.green-line{
  width: 100%;
  height: 11.8%;
  border-bottom: 6px solid #33475C;
  border-top: 6px solid #33475C;
  position: absolute;
  bottom: 0;
  background-color: #28C8B3;
}

/* main */
main{
  height: 100vh;
  min-width: 1200px;
}

main .cube{
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}
main .cube .img-cube{
  width: 410px;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translatex(-50%);
}
.cube h2{
  position: absolute; 
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translatex(-50%);
  font-size: 220%;
  color: #1a3a5c;
  width: 80%;
  height: 100px;
}

.textp{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translatex(-50%);
  text-align:center;
  font-size: 20px;
  line-height: 40px;
  color: #1a3a5c;
  font-weight: 400;
  width: 80%;
  height: 100px;
}

.book{
  position: absolute;
  width: 100%;
  height: 37%;
  margin: auto;
  bottom: 12%;
  background-color: white;
  
  border-radius: 10px;
}

.img-book{
  width: 30%;
  height: 100%;
  
  position: relative;
}

.img-book .imgb{
  width: 200px;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translatex(-50%);
}
.img-book a{
  text-decoration: none;
  position: absolute;
  bottom: 20%;
  left: 50%;
  padding: 25px 50px;
  border-radius: 5px;
  transform: translateX(-50%);
  text-align: center;
  min-height: 70px;
  min-width: 191px;
}


.text-book{
  width: 70%;
  height: 100%;
  padding: 5% 7%;
}

.text-book h3{
  margin-top: 2%;
  font-size: 160%;
  color: #1a3a5c;
  font-weight: 800;
}

.text-book p{
  margin-top: 40px;
  font-size: 15px;
  line-height: 30px;
  color: #1a3a5c;
  font-weight: 600;
  padding-right: 100px;
}

.text-book h4{
  margin-top: 4%;
  text-transform: uppercase;
  color: #1a3a5c;
}

.text-book h4 span{ /* riga dopo popolar feature */
  display: inline-block;
  width: 60%;
  background-color: gray;
  height: 4px;
  padding-bottom: 1px;
  margin-left: 30px;
  margin-top: 30px;
}

.check{
  margin-top: 40px;
}

.check span{
  display: inline-block;
  margin-right: 15px;
}

.b-check{
  background-color: tomato;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  display: inline-block;
}

/* Marketing Sales and Service */

.mark-sales-service{
  width: 100%;
  min-width: 1200px;
}

.msc{
  width: calc(90%/3);
  background-color: white;
  height: 900px;
  min-width: 300px;
}

.sales{
  width: calc(90%/3);
  background-color: white;
  height: 900px;
  min-width: 300px;
  margin: 0 5%;
}

.service{
  width: calc(90%/3);
  background-color: white;
  height: 900px;
  min-width: 300px;
}

.img-msc{
  margin-top: 20px;
  width: 40%;
  height: 20%;
  margin-left: 30%;
  margin-right: 30%;
  background-image: url(../img/buble.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.img-sales{
  margin-top: 20px;
  width: 40%;
  height: 20%;
  margin-left: 30%;
  margin-right: 30%;
  background-image: url(../img/office.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.img-service{
  margin-top: 20px;
  width: 40%;
  height: 20%;
  margin-left: 30%;
  margin-right: 30%;
  background-image: url(../img/table.svg);
  background-position: center;
  background-repeat: no-repeat;
}



.msc-float h4{
  font-size: 150%;
  font-weight: 800;
  color: #1a3a5c;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.msc-float p{
  color: #1a3a5c;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20%;
}
.msc-line{
  width: 80%;
  height: 1px;
  background-color: gray;
  margin: 0% 10% 10% 10%;

}

.msc-float h5{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #1a3a5c;
  margin-bottom: 15%;
}

.msc-float ul{
  margin-left: 50px;
  list-style: none;
}

.list-msc{
  color: #1a3a5c;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  display: inline-block;
}


.msc-btn{
  text-align: center;
  margin-top: 70px;
}


.btn-xl{
  background-color: tomato;
  padding: 20px 35px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

/* GRIGLIA */

.spaziatura{
  width: 100%;
  height: 1000px;
}

.grid{
  width: 100%;
  height: 70vh;
  padding: 4%;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  min-width: 1200px;
}

.grid-text{
  width: 100%;
  height: 40%;
  color: white;
}

.grid-text h3{
  font-size: 250%;
  text-align: center;
}

.grid-text p{
  margin-top: 2%;
  text-align: center;
  font-size: 130%;
}

.grid-container{
  width: 100%;
  height: 56%;
  
}

.grid-container .grid1{
  height: 50%;
  width: 100%;
 
}

.cell-1{
  width: 25%;
  height: 100%;
  border-bottom: 2px solid white;
  border-right: 1px solid white;
}
.cell-1 .grid-img1{
  background-image: url(../img/hands.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cell-2{
  width: 25%;
  height: 100%;
  border-bottom: 2px solid white;
  border-right: 1px solid white;
}
.cell-2 .grid-img1{
  background-image: url(../img/blogs.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cell-3{
  width: 25%;
  height: 100%;
  border-bottom: 2px solid white;
  border-right: 1px solid white;
}
.cell-3 .grid-img1{
  background-image: url(../img/academy.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.cell-4{
  width: 25%;
  height: 100%;
  border-bottom: 1px solid white;
}
.cell-4 .grid-img1{
  background-image: url(../img/inbound.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cell-5{
  width: 25%;
  height: 100%;
  border-right: 1px solid white;
}
.cell-5 .grid-img1{
  background-image: url(../img/connect.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.cell-6{
  width: 25%;
  height: 100%;
  border-right: 1px solid white;
}
.cell-6 .grid-img1{
  background-image: url(../img/globe.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.cell-7{
  width: 25%;
  height: 100%;
  border-right: 1px solid white;
}
.cell-7 .grid-img1{
  background-image: url(../img/followers.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.cell-8{
  width: 25%;
  height: 100%;
}
.cell-8 .grid-img1{
  background-image: url(../img/growth.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.grid-img1{
  margin: auto;
  height: 35%;
  width: 50%;
}
.grid-img1 img{
 height: 100%;
 
}
.grid-t1{
  margin: auto;
  height: 35%;
  width: 50%;
  
}
.grid-t1 h4{
 text-align: center;
 width: 100%;
 height: 100%;
 color: white;
 font-size: 250%;
 font-weight: 600;
}

.grid-t2{
  margin: auto;
  height: 20%;
  width: 70%;
  font-size: 80%;
  text-align: center;
  color: white;
}
